body{
    background-color: #1c122b;
    overflow-x: hidden;
    width: 100vw;
}
#block-container{
    display:flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    color: #1c122b;
}
.nft-span{
    color:gold;
}
#submitMain>span{
    background-color: #FFD700;
    padding: 1em;
    margin: 4em;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: #4e00c2;
}
#submitMain>span:hover{
    background-color: #4e00c2;
    color: #FFD700;


}